/* styles.css */

*{
    font-family: sans-serif;
}

.tabs {
    display: flex; /*Use Flexbox for tabs*/
    list-style: none; /*Remove flees*/
    padding: 0; /*No intern margin*/
    width: fit-content; /*set tab width*/
    
}

.tab {
    margin-bottom: 5px; /*Set bottom margin for each tab*/
    padding: 10px;
    cursor: pointer; /*Define cursor when hover*/
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

.tab:hover {
    background-color: #ddd;
}


.tab-content {
    display: none; /*Hide by default*/
    padding: 15px;
}

/*1st TAB*/
.photo_options{
    padding: 20px;
    width: fit-content;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px
}

.photo_options label:not(.extension){
    display: inline-block;
    width: 150px; 
    text-align: right;
    margin-right: 10px;
}

.photo_options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li {
    margin-top: 15px;
    margin-bottom: 15px;
}

form input[type="text"]{
    margin-right: 0;
}

form input[type="number"]{
    width: 50px;
}

/*2nd TAB*/
.video_stream_container{
    width:50%;
    border: 5px solid black;
    border-radius: 6px;
    overflow: hidden; 
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}

.video_stream_container img{
    width:100%;
}

/*3rd TAB*/
.item-container{
    width: 150px;
    height: fit-content;
    border: 5px solid black;
    border-radius: 1px;

}
.item-photo{
    height: 25px;
}
.item-photo:hover{
    background-color: gray;
    cursor: pointer; 
}

/*Modal photo viewer*/
.modal{
    display: none;
    position: fixed; /*fixe wheter you scroll or not*/
    z-index: 1; /*on top of everything*/
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;  /*full width and height of the viewport*/
    height: 100%; 
    /*overflow: auto; /*if viewport is really tiny compared to image, enable scrolling*/
    background-color: rgba(0, 0, 0, 0.9); /*semi-transparent bg*/
}

#img_modal{
    margin: auto; /*center and reduce the image*/
    display: block;
    max-width: 80%;
    max-height: 80%;
}

#caption_modal{
    color:white;
    text-align: center;
    margin: 10px 0;
}

.close_modal{
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close_modal:hover{
    color:#ccc;
}
























