/*Style de la page pamis*/

.page-content{
    display: flex;
    flex-direction: column; /*items in columns*/
    height: 100vh; /*100% viewport height*/
    color: black;
}


/*Tab colors management*/
.tab{
    background-color: grey;
}
.tab:hover {
    background-color: lightblue;
}
.tab.current{
    background-color: lightgray;
}
.tab-content {
    background-color: lightcyan;
}

/*Grid case management*/
.pami_1{grid-area: 1 / 1 ;}
.pami_2{grid-area: 1 / 2 ;}
.pami_3{grid-area: 1 / 3 ;}
.pami_4{grid-area: 2 / 1 ;}
.pami_5{grid-area: 2 / 2 ;}
.pami_6{grid-area: 2 / 3 ;}
.side-panel{grid-area: 1 / 4 /span 2;}

/*Grid*/
.grid-container {
    display: grid; /*Use a grid to display pamis infos*/
    grid-template-columns: 25%; /*Distribute size equally between cases*/
    height: 100%; /*full page height*/
    border: 2px solid red;
}

.grid-container div{
    text-align: center;/*Center text but actually only title will be centered*/
    padding: 20px;/*set some padding*/
    border: 2px solid black;
}

.grid-container div p{
    text-align: left;
}