/*Style de la page balise*/

.page-content{
    display: flex;
    flex-direction: column; /*items in columns*/
    height: 100vh; /*100% viewport height*/
    overflow: auto; /* scroll bar only if necessary*/
    align-items: center; /* align items in the center horizontally */
}

/*1st TAB*/
#photoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px; /*set margin-top*/
    padding: 0; /*set padding*/
    font-size: 15px; /*set font-size*/
    border: 2px black solid;/*set border*/
}

#photoForm ul {
    list-style: none; /*no disc*/
}

#photoForm input,
#photoForm input:focus{
    outline: none; /*remove outline*/
    border: none; /*removes the default border*/
    background-color: transparent; /*background transparent.*/
    border-bottom: 1px solid black; /* add a line at the bottom*/
}

#photoForm .options{
    display: grid;
    grid-template-columns: 150px auto; /* Adjust the width of the label column as needed */
    align-items: center;
}


#photoForm label:not(.extension){
}

form li {
    margin-top: 15px;
    margin-bottom: 15px;
}

form input[type="text"]{
    margin-right: 0;
}

#photoForm input[type="number"]{
    width: 50px;
}

/*2nd TAB*/
.video_stream_container{
    width:fit-content;
    border: 5px solid black;
    border-radius: 6px;
    overflow: hidden; 
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}

.video_stream_container img{
    width:100%;
}

/*3rd TAB*/
.item-container{
    width: 150px;
    height: fit-content;
    border: 5px solid black;
    border-radius: 1px;

}
.item-photo{
    height: 25px;
}
.item-photo:hover{
    background-color: gray;
    cursor: pointer; 
}

/*Modal photo viewer*/
.modal{
    display: none;
    position: fixed; /*fixe wheter you scroll or not*/
    z-index: 1; /*on top of everything*/
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;  /*full width and height of the viewport*/
    height: 100%; 
    /*overflow: auto; /*if viewport is really tiny compared to image, enable scrolling*/
    background-color: rgba(0, 0, 0, 0.9); /*semi-transparent bg*/
}

#img_modal{
    margin: auto; /*center and reduce the image*/
    display: block;
    max-width: 80%;
    max-height: 80%;
}

#caption_modal{
    color:white;
    text-align: center;
    margin: 10px 0;
}

.close_modal{
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close_modal:hover{
    color:#ccc;
}
























