/*Custom properties*/
:root {
    --sidebar-width: 110px;
    --navbar-background-color: #8689A0;;
    --navbar-hover-color: #606271;

    --webpage-background-color: #E5EAF5;/*#3D3D3D;/**/
    --disable-color: rgb(146, 146, 146);
    --tooltip-background-color: rgba(255, 255, 255, 80%);

    /*HOME THEME*/
    --home-background-color: #ef3636;
    --home-text-color: black;
    --home-secondary-color: #FFF9DE;
    --home-text-highlight-color: #88ff00;

    /*PAMIS THEME*/
    --pamis-background-color: #0d214f;
    --pamis-text-color: #ebd9b4;
    --pamis-secondary-color: #f3f372;
    --pamis-tab-background-color: var(--pamis-secondary-color);
    --pamis-tab-current-background-color: var(--pamis-background-color);
    --pamis-tab-hover-background-color: var(--pamis-background-color);
    --pamis-disable-color: var(--disable-color);
    --pamis-toggle-off-background-color: var(--pamis-disable-color);
    --pamis-toggle-on-background-color: #eded51;
    --pamis-toggle-circle-color: #ff6c22;
    --pamis-tooltip-background-color: var(--tooltip-background-color);
    --pamis-button-goto-background-color: #ff6c22;
    --pamis-button-goto-hover-background-color: rgb(48, 148, 5);
    --pamis-button-stop-background-color: #da64ca;
    --pamis-button-stop-hover-background-color: #CC1C1C;

    /*beacon THEME*/
    --beacon-background-color: #494D5F;
    --beacon-text-color: ivory;
    --beacon-secondary-color: #845BB3;
    --beacon-tab-background-color: var(--beacon-secondary-color);
    --beacon-tab-current-background-color: var(--beacon-background-color);
    --beacon-tab-hover-background-color: var(--beacon-background-color);
    --beacon-disable-color: var(--disable-color);
    --beacon-toggle-off-background-color: var(--beacon-disable-color);
    --beacon-toggle-on-background-color: var(--beacon-secondary-color);
    --beacon-toggle-circle-color: ivory;
    --beacon-tooltip-background-color: var(--tooltip-background-color);
    --beacon-button-photo-background-color: rgb(225, 105, 145);
    --beacon-button-photo-hover-background-color: rgb(64, 119, 94);
    --beacon-table-hover-background-color: #a982f3;
}

/*Basic settings of every body of this site */
body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--webpage-background-color);
}

/*All pages must hav this class in a div just after their body tag*/
.page-content{
    margin-left: var(--sidebar-width); /*margin to accomodate with sidebar width*/
}

/*Style de la nav bar*/
.sidebar-container{
    display:flex;
}

/*whole sidebar*/
.sidebar{
    width: var(--sidebar-width);
    height: 100%; /*100% height*/
    background-color: var(--navbar-background-color);
    position: fixed; /*fixed if page is scrolled down*/
    overflow-y: auto; /*add vertical scroll if content exceeds height*/
    z-index: 80;/*must match current tab*/
}

/*Sidebar list container*/
.sidebar .whole-list-container{
    display: flex;
    flex-direction: column; /*menu in column*/
    list-style-type: none; /*remove discs*/
    padding: 0; /*remove default padding*/
    margin: 0; /*remove default margin*/
    align-items: center;
}

/*Sidebar list item size font and color*/
.sidebar li{
    font-size: 12px; /*set font size*/
    height: 100%; /*max size to occupy the whole square*/
    width: 100%;
}
.sidebar li:hover{
    background-color: var(--navbar-hover-color);
}
.sidebar li[class="home selected"]{
    background-color: var(--home-background-color);
}
.sidebar li[class="match selected"]{
    background-color: var(--navbar-hover-color);
}
.sidebar li[class="main-robot selected"]{
    background-color: var(--navbar-hover-color);
}
.sidebar li[class="pamis selected"]{
    background-color: var(--pamis-background-color);
}
.sidebar li[class="beacon selected"]{
    background-color: var(--beacon-background-color);
}

/*Sidebar links*/
.sidebar a{
    text-decoration: none; /*remove default link underline*/
    color: #fff; /*set links color*/
}

/*Sidebar 'case' menu (icon + span)*/
.sidebar .is-menu{
    display: flex;
    padding:12px;
    flex-direction: column; /*items inside are in column*/
    align-items: center; /*center icon*/
}


/*Sidebar menu icon*/
.sidebar .navbar-icon{
    width: 32px; /*set width menu icon*/ 
    height: 32px; /*set height menu icon*/
    margin-bottom: 6px; /*set margin at the borrom*/
}

.sidebar .has-submenu:hover .submenu {
    display: block; /*display submenu on hover*/
}

/*Sidebar submenu*/
.submenu{
    display:none;
}















