/*Style de la page balise*/

.page-content{
    display: flex;
    flex-direction: column; /*items in columns*/
    height: 100vh; /*100% viewport height*/
    overflow-x: hidden;/* scroll bar only if necessary*/
    align-items: center; /* align items in the center horizontally */
    color: var(--balise-text-color);
}

/*Tab colors management*/
.tab{
    background-color: var(--balise-tab-background-color);
}
.tab:hover {
    background-color: var(--balise-tab-hover-background-color);
}
.tab.current{
    background-color: var(--balise-tab-current-background-color);
}
.tab-content {
    background-color: var(--balise-background-color);
}


/*1st TAB*/
#photoForm{
    display: flex;
    flex-direction: row;
    width:fit-content;
    margin-top: 70px; /*set margin-top*/
    padding: 0; /*set padding*/
    font-size: 15px; /*set font-size*/
    align-items: center; /*center children horizontally*/
    
}

.options {/*all both options selected*/
    margin-right: 10px; /*set margin-top*/
}
#photoForm ul {
    list-style: none; /*no disc*/
    padding:0px /*reset default padding*/
}

#photoForm #basic_options{
    display: flex; /*flex disposition*/
    flex-direction: column; /*column style*/
    align-items: center; /*center everything inside*/
    white-space: nowrap;/*prevent content to jump line*/
    align-self: flex-start; /*force align with parent top*/
}

#photoForm #advanced_options{
    display: flex; /*flex disposition*/
    flex-direction: column; /*column style*/
    align-items: center; /*center everything inside*/
    white-space: nowrap;/*prevent content to jump line*/
}

#photoForm .button_photo{
    display: flex; /*flex disposition*/
    flex-direction: column; /*column style*/
    align-items: center; /*center everything inside*/
    justify-content: center;
    width: 350px;
}

#photoForm .vertical-bar{
    height: 200px;/*bar size*/
    width: 2px;
    margin: 15px;
    background-color: var(--balise-secondary-color); /*color of the vertical bar*/
}

#photoForm input,
#photoForm input:focus{
    outline: none; /*remove outline*/
    border: none; /*removes the default border*/
    background-color: transparent; /*background transparent.*/
    border-bottom: 2px solid var(--balise-secondary-color); /* add a line at the bottom*/
    text-align: center; /*align inner text in center*/
    color: var(--balise-text-color);/*text color*/
    transition: .4s;
}
#photoForm input:disabled{
    background-color: rgb(0 0 0 / 10%);/*light opaque background*/
    border-bottom: 2px solid var(--balise-disable-color); 
    transition: .4s;
}


/*Remove spin button*/
input::-webkit-outer-spin-button, 
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}/*input[type=number]{-moz-appearance: textfield;}/*on firefox*/


#photoForm label:not(.extension, .toggle-switch){
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 330px;
}


#photoForm li {/*list item style*/
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px;
}

#photoForm input[type="number"]{
    width: 50px;
}

/*style des toggles checkbox*/
#photoForm .toggle-switch{
    display: inline-block;
    position: relative;
}
#photoForm .toggle-switch input { /*soft delete the classic checkbox*/
    opacity: 0;
    width: 0;
    height: 0;
}
#photoForm .slider { /*style for the toggle span off*/
    position: absolute;
    cursor: pointer;
    top: -2px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 54px;/*set width*/
    height: 22px;/*set height*/
    background-color: var(--balise-toggle-off-background-color);
    border-radius: 34px;
}
#photoForm .slider::before { /*style for the circle inside toggle when off*/
    position: absolute;
    content: "";
    height: 14px;/* <- toggle_height - 2*circle_bottom*/
    width: 14px;
    left: 6px;
    bottom: 4px;
    background-color: var(--balise-toggle-circle-color);
    border-radius: 50%;
    -webkit-transition: .2s;
    transition: .2s;
  }
#photoForm input:checked + .slider { /*toggle span when checked on*/
    background-color: var(--balise-toggle-on-background-color);
}
#photoForm input:checked + .slider::before { /*circle when checked on*/
    -webkit-transform: translateX(28px);
    transform: translateX(28px); /* <- toggle_width - 2*circle_left - circle_width*/
}

/*Tooltip*/
#photoForm .tooltip-container{
    display: inline-block;
    position: relative;
    top:5px;
    left:50px;
}
#photoForm .tooltip-icon {
    cursor: pointer;
    width: 20px; /*icon size*/
    height: 20px;
}
#photoForm .tooltip-content{
    display: none; /*start hidding*/
    position: absolute;
    z-index: 1; /*on top of everything*/
    background-color: var(--balise-tooltip-background-color);
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    left:20px;
    top: 20px;
}
#photoForm .tooltip-content:not(.with_image){ /*tooltip w/o image*/
    width: 155px;
}
#photoForm .tooltip-content img{/*in tooltip with image paragraph follow the image size*/
    width: 300px;
    height: 280px;
    margin-bottom: 8px;
}
#photoForm .tooltip-container p{
    margin:0px;
    text-wrap:wrap; /*text dont overflow the container*/
}
#photoForm .tooltip-container:hover .tooltip-content {
    display: block; /*show content*/
}

#photoForm button{
    cursor: pointer;
    width: 110px; /*button size*/
    height: 110px;
    font-size: 15px;
    background-color: var(--balise-button-photo-background-color);
    border-radius: 100px;
    margin-bottom: 15px;
}

#photoForm button:hover{
    background-color: var(--balise-button-hover-photo-background-color);
}

#resultMessage #resultMessageParagraph li{
    margin-left: 28px;
    margin-top: -10px;
    margin-bottom: 0px;
}

/*2nd TAB*/
.video_stream_container{
    width:fit-content;
    border: 3px solid var(--balise-secondary-color);;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding:2px;
}

.video_stream_container img{
    width:100%;
}

/*3rd TAB*/
#tab3_content p{
    margin: 40px;
    margin-bottom: 15px;
}
.items-container{
    border: 1px solid var(--balise-secondary-color);
    border-radius: 2px;
    width: 50%; /*set width*/
    margin-left: 40px; /*set margin-left*/

}
.items-container table{
    border-collapse: collapse; /*no column lines*/
    width: 100%;
}
.items-container .title{
    background-color: var(--balise-secondary-color);
}
.items-container td{
    padding: 8px;
}
.item-photo{
    height: 26px;
}
.item-photo:hover{
    background-color: var(--balise-table-hover-background-color);
    cursor: pointer; 
}

/*Modal photo viewer*/
.modal{
    display: none;
    position: fixed; /*fixe wheter you scroll or not*/
    z-index: 100; /*on top of everything*/
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;  /*full width and height of the viewport*/
    height: 100%; 
    /*overflow: auto; /*if viewport is really tiny compared to image, enable scrolling*/
    background-color: rgba(0, 0, 0, 0.9); /*semi-transparent bg*/
}

#img_modal{
    margin: auto; /*center the image*/
    display: block;
    max-width: 80%;
    max-height: 80%;
}

#caption_modal{
    text-align: center;
    margin: 10px 0;
}

.close_modal{
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close_modal:hover{
    color:#ccc;
}
























