/*Style de la page balise*/

.page-content{
    display: flex;
    flex-direction: column; /*items in columns*/
    height: 100vh; /*100% viewport height*/
    overflow: auto;/* scroll bar only if necessary*/
    align-items: center; /* align items in the center horizontally */
    color: var(--balise-text-color);
}

/*1st TAB*/
#photoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px; /*set margin-top*/
    padding: 0; /*set padding*/
    font-size: 15px; /*set font-size*/
    
}

#photoForm ul {
    list-style: none; /*no disc*/
}

#photoForm input,
#photoForm input:focus{
    outline: none; /*remove outline*/
    border: none; /*removes the default border*/
    background-color: transparent; /*background transparent.*/
    border-bottom: 2px solid var(--balise-secondary-color); /* add a line at the bottom*/
    text-align: center;
    color: var(--balise-text-color);
}

/*Remove spin button*/
input::-webkit-outer-spin-button, 
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}/*input[type=number]{-moz-appearance: textfield;}/*on firefox*/

#photoForm .options{
    width: 50%;/*centered in page*/
}


#photoForm label:not(.extension){
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 300px;
}

#photoForm li {
    margin-top: 15px;
    margin-bottom: 15px;
}

#photoForm input[type="number"]{
    width: 50px;
}

#photoForm button{
    width: 110px;
    height: 55px;
    font-size: 15px;
    background-color: var(--balise-button-photo-background-color);
    border-radius: 50px;
    margin-top: 25px;
    cursor: pointer;
}

#photoForm button:hover{
    background-color: var(--balise-button-hover-photo-background-color);
}

#resultMessage #resultMessageParagraph{
    text-align: center;
}

/*2nd TAB*/
.video_stream_container{
    width:fit-content;
    border: 3px solid var(--balise-secondary-color);;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding:2px;
}

.video_stream_container img{
    width:100%;
}

/*3rd TAB*/
#tab3_content p{
    margin: 40px;
    margin-bottom: 15px;
}
.items-container{
    border: 1px solid var(--balise-secondary-color);
    border-radius: 2px;
    width: 50%; /*set width*/
    margin-left: 40px; /*set margin-left*/

}
.items-container table{
    border-collapse: collapse; /*no column lines*/
    width: 100%;
}
.items-container .title{
    background-color: var(--balise-secondary-color);
}
.items-container td{
    padding: 8px;
}
.item-photo{
    height: 26px;
}
.item-photo:hover{
    background-color: var(--balise-table-hover-background-color);
    cursor: pointer; 
}

/*Modal photo viewer*/
.modal{
    display: none;
    position: fixed; /*fixe wheter you scroll or not*/
    z-index: 100; /*on top of everything*/
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;  /*full width and height of the viewport*/
    height: 100%; 
    /*overflow: auto; /*if viewport is really tiny compared to image, enable scrolling*/
    background-color: rgba(0, 0, 0, 0.9); /*semi-transparent bg*/
}

#img_modal{
    margin: auto; /*center the image*/
    display: block;
    max-width: 100%;
    max-height: 100%;
}

#caption_modal{
    text-align: center;
    margin: 10px 0;
}

.close_modal{
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close_modal:hover{
    color:#ccc;
}
























