<launch>
  <!-- Launch the ROS master -->
  <node pkg="roscore" type="roscore" name="roscore" output="screen"/>

  <node pkg="beacon_mind" type="b_ihm_sub.py" name="ihm" output="screen"/>

  <node pkg="beacon_mind" type="b_pami_sub.py" name="pami" output="screen"/>

  <node pkg="board_detection" type="b_cam_position.py" name="b_camera" output="screen"/>
  
</launch>