<!DOCTYPE html>
<html lang="fr">
{% include 'navbar.html' %}<!--import navbar-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_beacon.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_tabs.css')}}">
    <link rel="shortcut icon" href="#" /> <!--No favicon-->
</head>

<body><div class="page-content">
   <!-- All TABS must set <ul class='tabs'> and <li class='tabs'> to match css-->
    <ul class="tabs">
        <li class="tab" id="tab1" onclick="openTab('tab1')">Prendre une photo</li>
        <li class="tab" id="tab2" onclick="openTab('tab2')">Vue de la caméra</li>
        <li class="tab" id="tab3" onclick="openTab('tab3')">Galerie des photos</li>
    </ul>

    <!-- Tabs Content 1-->
    <div id="tab1_content" class="tab-content">
            <form action="{{ url_for('beacon') }}" method="post" id="photoForm">
                <div class="options" id="basic_options">
                    <h3>Options basiques</h3>
                <ul>
                    <li>
                        <label for="photo_name">Renomer&nbsp;la&nbsp;photo&nbsp;:</label>
                        <input type="text" id="photo_name" name="photo_name" maxlength="30"/>
                        <label class="extension" for="photo_name">.jpg</label>
                    </li>
                    <li>
                        <label for="photo_name_suffixe">Ajouter&nbsp; "_via_ihm"&nbsp;:</label>
                        <label class="toggle-switch">
                            <input type="checkbox" id="photo_name_suffixe" name="photo_name_suffixe" value="checked" checked>
                            <span class="slider"></span>
                        </label>
                    </li>
                    <li>
                        <label for="photo_tms">Timeout&nbsp;(ms)&nbsp;:</label>
                        <input type="number" id="photo_tms" name="photo_tms" value="50"
                        min="0" max="9999" step="100" />
                    </li>
                    <li>
                        <label for="photo_quality">Qualité&nbsp;(%)&nbsp;:</label>
                        <input type="number" id="photo_quality" name="photo_quality"
                        min="1" max="100" value="50"/>
                    </li>
                    <li>
                        <label for="photo_denoising">Réduction&nbsp;du&nbsp;bruit&nbsp;:</label>
                        <label class="toggle-switch">
                            <input type="checkbox" id="photo_denoising" name="photo_denoising" value="checked">
                            <span class="slider"></span>
                        </label>
                    </li>
                </ul>
                </div>

                <div class="vertical-bar"></div>

                <div class="options" id="advanced_options">
                    <h3>Options avancées</h3>
                    <ul>
                        <li>
                            <label for="aruco_yes_no">Marquer&nbsp;les&nbsp;tags&nbsp;ArUco&nbsp;:</label>
                            <label class="toggle-switch">
                                <input type="checkbox" id="aruco_yes_no" name="aruco_yes_no" value="checked">
                                <span class="slider"></span>
                            </label>
                        </li>

                        <li>
                            <label for="undistort_yes_no">Supprimer&nbsp;la&nbsp;distorsion&nbsp;causée&nbsp;par&nbsp;la&nbsp;caméra&nbsp;:</label>
                            <label class="toggle-switch">
                                <input type="checkbox" id="undistort_yes_no" name="undistort_yes_no" value="checked">
                                <span class="slider"></span>
                            </label>
                            <div class="tooltip-container">
                                <img class="tooltip-icon" src="{{ url_for('static', filename='/icons/info_24px.png')}}" alt="Info Icon">
                                <div class="tooltip-content">
                                    <p>Fonctionne seulement si la caméra a été calibrée en distorsion. Utilisez le script 'ros_undistortImage.py' pour cela.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label for="redress_yes_no">Redresser&nbsp;une&nbsp;image&nbsp;à&nbsp;l'aide&nbsp;de&nbsp;4&nbsp;tags&nbsp;ArUco&nbsp;:</label>
                            <label class="toggle-switch">
                                <input type="checkbox" id="redress_yes_no" name="redress_yes_no" value="checked" onchange="toggleInput(this,'tog-redress')">
                                <span class="slider"></span>
                            </label>
                            <div class="tooltip-container">
                                <img class="tooltip-icon" src="{{ url_for('static', filename='/icons/info_24px.png')}}" alt="Info Icon">
                                <div class="tooltip-content">
                                    <p>Privilégier les tags les plus excentrés.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label for="redress_id1">Tags&nbsp;Aruco&nbsp;:</label>
                            <input class="tog-redress" type="number" id="redress_id1" name="redress_id1" value="20" disabled/>
                            <input class="tog-redress" type="number" id="redress_id2" name="redress_id2" value="21" disabled/>
                            <input class="tog-redress" type="number" id="redress_id3" name="redress_id3" value="22" disabled/>
                            <input class="tog-redress" type="number" id="redress_id4" name="redress_id4" value="23" disabled/>
                        </li>
                        <li>
                            <label for="color_yes_no">Détecter&nbsp;une&nbsp;plage&nbsp;de&nbsp;couleurs&nbsp;:</label>
                            <label class="toggle-switch">
                                <input type="checkbox" id="color_yes_no" name="color_yes_no" value="checked" onchange="toggleInput(this,'tog-color')">
                                <span class="slider"></span>
                            </label>
                            <div class="tooltip-container">
                                <img class="tooltip-icon" src="{{ url_for('static', filename='/icons/info_24px.png')}}" alt="Info Icon">
                                <div class="tooltip-content with_image">
                                    <img src="{{ url_for('static', filename='/images/hue_opencv_wheel.jpg')}}" alt="Hue opencv colormap">
                                    <p>Ne définir les limites qu'à l'aide de la première valeur (Hue) de 0 à 180 en vous aidant de ce graphique.<br>
                                        Il n'y a généralement pas besoin de modifier les valeurs de Saturation et de Value.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label for="hue_min">HSV&nbsp;min&nbsp;:</label>
                            <input class="tog-color" type="number" id="hue_min" name="hue_min" value="0" min="0" max="180" disabled/>
                            <input class="tog-color" type="number" id="sat_min" name="sat_min" value="50" min="0" max="255" disabled/>
                            <input class="tog-color" type="number" id="val_min" name="val_min" value="50" min="0" max="255" disabled/>
                        </li>
                        <li>
                            <label for="hue_max">HSV&nbsp;max&nbsp;:</label>
                            <input class="tog-color" type="number" id="hue_max" name="hue_max" value="0" min="0" max="180" disabled/>
                            <input class="tog-color" type="number" id="sat_max" name="sat_max" value="255" min="0" max="255" disabled/>
                            <input class="tog-color" type="number" id="val_max" name="val_max" value="255" min="0" max="255" disabled/>
                        </li>
                        <li>
                            <label for="color_surface_yes_no">Ajouter&nbsp;des&nbsp;limites&nbsp;de&nbsp;pixels&nbsp;à&nbsp;détecter&nbsp;:</label>
                            <label class="toggle-switch">
                                <input type="checkbox" id="color_surface_yes_no" name="color_surface_yes_no" value="checked" onchange="toggleInput(this,'tog-color_surface')">
                                <span class="slider"></span>
                            </label>
                            <div class="tooltip-container">
                                <img class="tooltip-icon" src="{{ url_for('static', filename='/icons/info_24px.png')}}" alt="Info Icon">
                                <div class="tooltip-content">
                                    <p>Fonctionne seulement si la detection de couleur est active.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label for="color_minSurface">Surface&nbsp;minimale&nbsp;à&nbsp;détecter&nbsp;:</label>
                            <input class="tog-color_surface" type="number" id="color_minSurface" name="color_minSurface" value="50" min="0" max="99999" disabled/>
                        </li>
                        <li>
                            <label for="color_maxSurface">Surface&nbsp;maximale&nbsp;à&nbsp;détecter&nbsp;:</label>
                            <input class="tog-color_surface" type="number" id="color_maxSurface" name="color_maxSurface" value="300" min="0" max="99999" disabled/>
                            </label>
                        </li>
                        <li>
                            <label for="calibrate_yes_no">Calibrer&nbsp;la&nbsp;caméra&nbsp;en&nbsp;redressement&nbsp;:</label>
                            <label class="toggle-switch">
                                <input type="checkbox" id="calibrate_yes_no" name="calibrate_yes_no" value="checked">
                                <span class="slider"></span>
                            </label>
                            <div class="tooltip-container">
                                <img class="tooltip-icon" src="{{ url_for('static', filename='/icons/info_24px.png')}}" alt="Info Icon">
                                <div class="tooltip-content">
                                    <p>À ne faire qu'une fois après avoir bouger la caméra. Cette fonction permet de générer une matrice de transformation utilisée par ROS. Un résultat vous sera fourni dans la galerie.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="vertical-bar"></div>

                <div class="button_photo">
                    <button type="button" onclick="submitPhotoForm()" title="Prendre une photo">
                        <img src="{{ url_for('static', filename='/icons/photo_64px.png')}}">
                    </button>
                    <div id="resultMessage"><p id="resultMessageParagraph"></p></div>
                </div>
            </form>
    </div>





    <!-- Tabs Content 2-->
    <div id="tab2_content" class="tab-content">
        <div class="video_stream_container">
            <img id="video-stream" src="">
        </div>       
    </div>




    <!-- Tabs Content 3-->
    <div id="tab3_content" class="tab-content">
        <p>Répertoire : {{media_path}}</p>
        <div class="items-container">
            <table>
                <tr class="title">
                    <td>Nom</td>
                    <td>Taille</td>
                    <td>Heure</td>
                    <td>Date</td>
                </tr>
                {% for photo in list_photos %}
                    <tr class="item-photo" id="photo{{loop.index0}}" onclick='showPhotoModal("{{loop.index0}}")'>
                        <td>{{photo["name"]}}</td>
                        <td>{{photo["size"]}} {{photo["size_unit"]}}</td>
                        <td>{{photo["hour"]}}</td>
                        <td>{{photo["date"]}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="modal" id="photo_modal">
            <span class="close_modal" onclick="closeModal()">&times;</span>
            <img id="img_modal" src="">
            <div id="caption_modal"></div>
        </div>
    </div>


<!-- Scripts declarations -->
<script src="/static/js/jquery-3.6.4.min.js"></script> <!--Load JQuery library-->
<script>
    //Declare ALL python variables so that Jinja2 can render them for JavaScipt to use
    // at term it will better to use async request and move all dynamic in this page in the js
    var video_stream_link = "{{url_for('videoStream')}}";
    var list_photos = JSON.parse('{{list_photos | tojson | safe}}'); //convert python variables to json
    var media_path = JSON.parse('{{media_path | tojson | safe}}');
    var photo_modal_link = "{{url_for('getPhotoModal', filename='')}}";
</script>
<script type=text/JavaScript src="/static/js/beacon-route.js"></script> <!--Load script for this route -->

</div></body>    



</html>

