<!DOCTYPE html>
<html lang="fr">
{% include 'navbar.html' %}<!--import navbar-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_tabs.css')}}">
    <link rel="shortcut icon" href="#" /> <!--No favicon-->
    <script type=text/JavaScript src="/static/js/home-route.js"></script> <!--Load script for this route -->
</head>

<body><div class="page-content">
    <div class="grid-container">
        
        <!--TOP-LEFT-->
        <div class="grid-item presentation">

            <div class="text-presentation">
                <h3>pourquoi ?</h3>
                <p>Cette interface web sert à <b>debuger et manipuler</b> Louise, la carte Raspberry Pi4 utilisée dans la balise
                    Sudriabobtik lors de la compétition Eurobot.</p>

                <h3>comment ?</h3>
                <p>Rien de plus simple! Utilisez la <b>barre de navigation</b> située à gauche.</p>

                <h3>que faire ?</h3>
                <p>
                    - L'onglet <b>Match</b> permet d'afficher le score lors d'un match test.
                    <br>
                    - L'onglet <b>Robot Principal</b> permet de contrôler les différents actionneurs du robot en temps 
                    réel.
                    <br>
                    - L'onglet <b>PAMIs</b> (Petits Actionneurs Mobiles Indépendants) permet de contrôler jusqu'à 6 pamis.
                    <br>            
                    - L'onglet <b>Balise</b> permet de prendre des photos du terrain de jeux et de les retoucher avec 
                    différentes options.
                </p>
            </div>

            <h1>he</h1>
            
        </div>

        <!--TOP-RIGHT-->
        <div class="grid-item information">
            <h1>llo</h1>
            <div class="text-information">
                <p>CPU Broadcom BCM2711 : <span class="hgl" id="temp_cpu"></span>°C</p>
                <p>GPU VideoCore VI : <span class="hgl" id="temp_gpu"></span>°C</p>
                <p>Stockage : <span class="hgl" id="stockage_space_left"></span>/<span id="stockage_space_max"></span></p>
                <p>Camera : <span class="hgl" id="check_camera">-</span></p>
                <p>USB 3.0 n°1 : <span class="hgl" id="check_usb31">-</span></p>
                <p>USB 3.0 n°2 : <span class="hgl" id="check_usb32">-</span></p>
                <p>USB 2.0 n°1 : <span class="hgl" id="check_usb32">-</span></p>
                <p>USB 2.0 n°2 : <span class="hgl" id="check_usb32">-</span></p>
            </div>
        </div>

        <!--BOTTOM-LEFT-->
        <div class="grid-item utility">
            <h1>lou</h1>
        </div>

        <!--BOTTOM-RIGHT-->
        <div class="grid-item credits">

            <h1>ise</h1>

            <div class="text-credits">
                <h3>par qui ?</h3>
                <p>
                    Demirjian Alexandre
                    <br>
                    Morel Erwan
                    <br>
                    Waïdi Rayane <span class="hgl">:)</span>
                </p>
                <h3>contact</h3>
                <p>@ : waidi.rayane75@gmail.com</p>
            </div>
        </div>

    </div>


</div></body>    



</html>