<html>
    <head>
        <title>Louise-Ihm</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_navbar.css')}}">
    </head>

    <body>
        <div class ="sidebar-container">
            <nav class="sidebar">
                <ul class="whole-list-container">
                    <li class="home">
                        <a href="/accueil">
                            <div class="is-menu">
                            <img class="navbar-icon" src="{{ url_for('static', filename='/icons/home_64px.png')}}">
                            <span>Accueil</span>
                            </div>
                        </a>                        
                    </li>
                    <li class="match">
                        <a href="#">
                            <div class="is-menu">
                            <img class="navbar-icon" src="{{ url_for('static', filename='/icons/battle_64px.png')}}">
                            <span>Match</span>
                            </div>
                        </a>
                    </li>
                    <li class="main-robot">
                        <a href="#" >
                            <div class="is-menu">
                            <img class="navbar-icon" src="{{ url_for('static', filename='/icons/exoskeleton_64px.png')}}">
                            <span>Robot Principal</span>
                            </div>
                        </a>
                    </li>
                    <li class="pamis">
                        <a href="/pamis">
                            <div class="is-menu">
                            <img class="navbar-icon" src="{{ url_for('static', filename='/icons/babyrobot_64px.png')}}">
                            <span>PAMIs</span>
                            </div>
                        </a>
                    </li>
                    <li class="beacon">
                        <a href="/beacon">
                            <div class="is-menu">
                            <img class="navbar-icon" src="{{ url_for('static', filename='/icons/lighthouse_64px.png')}}">
                            <span>Balise</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <script>
            /*Manage color when click*/
            document.addEventListener('DOMContentLoaded', function () {
                
                // Select all .sidebar li tags
                var liElements = document.querySelectorAll('.sidebar li');

                // Get last element clicked
                var selectedLiIndex = localStorage.getItem('selectedLiIndex');
                //If there were a li clicked put selected
                if (selectedLiIndex !== null) {
                        liElements[selectedLiIndex].classList.add('selected');
                }

                //Add click function for each li
                liElements.forEach(function (li, index){
                    li.addEventListener('click', function(){

                        //Delete 'selected' of all other li
                        liElements.forEach(function (otherLi) {
                            otherLi.classList.remove('selected');
                        });

                        //Add 'selected' for clicked li
                        li.classList.add('selected')
                        // Store index of selected li in localStorage
                        localStorage.setItem('selectedLiIndex', index);
                    });
                });
            });

        </script>
    </body>

</html>