<!DOCTYPE html>
<html lang="fr">
{% include 'navbar.html' %}<!--import navbar-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_pamis.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_tabs.css')}}">
    <link rel="shortcut icon" href="#" /> <!--No favicon-->
    <script src="/static/js/jquery-3.6.4.min.js"></script> <!--Load JQuery library (needed for Ajax requests) -->
    <script type=text/JavaScript src="/static/js/pamis-route.js"></script> <!--Load script for this route -->
</head>

<body><div class="page-content">
   <!-- All TABS must set <ul class='tabs'> and <li class='tabs'> to match css-->
    <ul class="tabs">
        <li class="tab" id="tab1" onclick="openTab('tab1')">Contrôle Pamis</li>
    </ul>


    <!-- Tabs Content 1-->
    <div id="tab1_content" class="tab-content">
        <div class="grid-container">

            <!-- Generate boxes -->
            {% for i in range(6) %}
            <div class="pami_{{ i }}">
                    <h2>Pami {{ i }}</h2>
                    <p>Tag Aruco : <span id="num_aruco_{{ i }}"></span></p>
                    <p>Connecté : <span id="connection_{{ i }}"></span></p>
                    <p>Position actuelle : <span id="position_{{ i }}"></span></p>
            </div>
            {% endfor %}
            
            <div class="side-panel">
                <p>Paramètres<p>                
            </div>
        </div>
    
    </div>


</div></body>    



</html>