<!DOCTYPE html>
<html lang="fr">
{% include 'navbar.html' %}<!--import navbar-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_pamis.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_tabs.css')}}">
    <link rel="shortcut icon" href="#" /> <!--No favicon-->
</head>

<body><div class="page-content">
   <!-- All TABS must set <ul class='tabs'> and <li class='tabs'> to match css-->
    <ul class="tabs">
        <li class="tab" id="tab1" onclick="openTab('tab1')">Contrôle Pamis</li>
    </ul>


    <!-- Tabs Content 1-->
    <div id="tab1_content" class="tab-content">
        <div class="grid-container">

            <div class="pami_1">
                <h2>Pami 1</h2>
            </div>
            <div class="pami_2">
                <h2>Pami 2</h2>
            </div>
            <div class="pami_3">
                <h2>Pami 3</h2>
            </div>
            <div class="pami_4">
                <h2>Pami 4</h2>
            </div>
            <div class="pami_5">
                <h2>Pami 5</h2>
            </div>
            <div class="pami_6">
                <h2>Pami 6</h2>
            </div>
            
            <div class="side-panel">
                <h2>Paramètres</h2>
                
            </div>
        </div>
    
    </div>



    <script type=text/JavaScript src="/static/js/pamis-route.js"></script> <!--Load script for this route -->

</div></body>    



</html>